@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@500&display=swap");

/* general font */
.font {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

/* navbar css */
#nav-reg {
}
#nav-home {
  height: 90px;
  width: 100%;
  float: left;
  margin: none;
  padding: 0;
  list-style: none;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-top: 1px solid rgb(23, 23, 23);
}
#nav-home:hover {
  background: rgba(0, 0, 0, 0.5);
}
#nav-home li a {
  height: 89px;
  display: block;
  padding: 30px 25px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(230, 215, 193);
  float: left;
  font-family: "Montserrat", sans-serif;
}
#nav-home li a:hover {
  background-color: black;
  border-radius: 1em;
}
/* so logout looks clean */
#auth-nav {
  height: 23px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: rgb(238, 228, 212);
  float: right;
  font-family: "Montserrat", sans-serif;
}

/* image css */
.image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

/* q&a form css */
#builder-container {
  background: #f2f2f2;
  width: 40vw;
  margin: auto;
  border-radius: 2em;
  box-shadow: 0 1px rgba(212, 152, 125, 0.2) inset,
    0 15px 50px rgba(0, 0, 0, 0.5);
}

/* for home instructions */
.home {
  margin-top: 35vh;
}

.home div {
  box-shadow: 0 15px 75px rgba(0, 0, 0, 1);
  border-radius: 2em;
  /* border: solid 1px black; */
}

/* for q&a first div */
.style {
  margin-top: 60px;
}

.style p {
  padding-top: 30px;
}

.Style {
  margin-right: 1em;
  margin-bottom: 1em;
}
