#nav-reg {
  position: relative;
  height: 90px;
  width: 100%;
  float: left;
  margin: none;
  padding: 0;
  list-style: none;
  background: none;
  border-top: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
}
#nav-reg li a {
  height: 89px;
  display: block;
  padding: 30px 25px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(142, 142, 142);
  float: left;
  font-family: "Montserrat", sans-serif;
}
#nav-reg li a:hover {
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 1em;
}
.white {
  color: white;
}

/* for session div ui */
.placeholder {
  height: 130px;
}
.styled {
  margin: auto;
  min-height: 350px;
  width: 500px;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  border-radius: 2em;
}
.color {
  background: #fafafa;
  min-height: 100vh;
  height: 100%;
}
.color table {
  margin-left: 40px;
  width: 420px;
}
.color p {
  margin: 5px 15px 0px 15px;
  padding-bottom: 15px;
}
